/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #2C2C2C;
}

.container {
    width: 100%;
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

/* END OF GLOBAL */
/* NAV */

.main__container {
    width: 100%;
    height: auto;
    background-image: url("../images/banner/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C2C2C;
    position: fixed;
    z-index: 2;
}

.header__btn {
    display: none;
}

.bars {
    display: none;
}

.logo {
    flex-basis: 50%;
    padding-left: 15px;
}

.hamburger {
    flex-basis: 50%;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.fa.fa-bars {
    width: 55px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.nav {
    position: absolute;
    top: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    display: none;
}

.nav__list {
    width: 95%;
    background-color: white;
}

.list__item {
    padding-left: 10px;
}

.nav__link {
    color: black;
    height: 35px;
    display: flex;
    align-items: center;
}

.nav__link:hover {
    color: #5DB2FF;
}

.drop-down__list {
    display: block;
}

.drop-down__link {
    justify-content: space-between;
    padding-right: 15px;
}

.drop-down__link-1, .drop-down__link-2 {
    display: none;
}

.drop-down__links-1, .drop-down__links-2 {
    display: none;
}

.minus-1, .minus-2, .plus-1, .plus-2 {
    font-size: 1.3rem;
}

.minus-1, .minus-2 {
    display: none;
}

.lvl-2 {
    padding-left: 25px;
}

/* --- DROP-DOWN MENU --- */

.bars:checked+.nav {
    display: flex;
}

.drop-down__link-1:checked~.drop-down__links-1 {
    display: block;
}

.drop-down__link-2:checked~.drop-down__links-2 {
    display: block;
}

.drop-down__link-1:checked~.drop-down__link>.plus-1 {
    display: none;
}

.drop-down__link-1:checked~.drop-down__link>.minus-1 {
    display: block;
}

.drop-down__link-2:checked~.drop-down__link>.plus-2 {
    display: none;
}

.drop-down__link-2:checked~.drop-down__link>.minus-2 {
    display: block;
}

/* --- END OF DROP-DOWN MENU --- */
/* END OF NAV */

/* HERO */

.hero {
    padding-top: 55px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.hero__article {
    padding-top: 45px;
    padding-left: 15px;
    color: white;
    padding-bottom: 40px;
}

.hero__header {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 35px;
    padding-bottom: 15px;
    padding-right: 30px;
}

.hero__paragraph {
    line-height: 25px;
}

.hero__btn {
    margin-top: 10px;
    margin-left: 15px;
    padding: 15px 30px;
    font-weight: 500;
    color: white;
    background-color: #37EBED;
    letter-spacing: 1px;
}

.hero__btn:hover {
    background-color: #4BA8FD;
}

.hero__picture {
    width: 100%;
    margin: auto;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.phone__picture {
    max-width: 90%;
}

/* END OF HERO */
/* FIRST SECTION */

.first-section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section__header {
    padding: 40px 0;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.first-section__services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__icons {
    display: flex;
    justify-content: center;
    height: 110px;
    width: 110px;
    border-radius: 20px;
}

.icon-1 {
    background: linear-gradient(to right, #0281F5 0%, #56AEFE 100%);
}

.icon-2 {
    background: linear-gradient(to right, #FDAD5D 0%, #FD8F5E 100%);
}

.icon-3 {
    background-color: #37EF8D;
}

.services {
    padding: 30px 0;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    max-width: 60vw;
    line-height: 35px;
}

/* END OF FIRST SECTION */
/* SECOND SECTION */

.features__container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.features {
    display: flex;
    flex-direction: column;
    max-width: 95%;
}

.features__text {
    padding: 0 5px 35px;
}

.features__article {
    padding-right: 5px;
}

.features__header {
    font-weight: 300;
    font-size: 1.8rem;
    padding-bottom: 25px;
    line-height: 35px;
}

.features__paragraph {
    font-weight: 300;
    padding-bottom: 40px;
    line-height: 30px;
    color: #727272;
}

.features__btn {
    background-color: #0181F5;
    color: white;
    padding: 15px 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

.draw {
    max-width: 100%;
}

/* END OF SECOND SECTION */
/* TESTIMONIALS */

.testimonial__container {
    background-image: url(/images/banner/testimonial.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
    z-index: 0;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial__container::before {
    background-color: #5DB2FF;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    position: absolute;
}

.testimonials {
    padding: 107px 25px;
}

.testimonials__header {
    font-size: 1.9rem;
    line-height: 35px;
    padding: 0 15px;
    font-weight: 300;
    text-align: center;
}

.testimonial {
    font-size: 1.25rem;
    padding: 30px 0;
    line-height: 35px;
    text-align: center;
}

.fa-star {
    color: #FFD35A;
    font-size: 1.3rem;
    margin: 0 2px;
}

.caption {
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END OF TESTIMONIALS */
/* PRICING */

.pricing__container {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__text {
    padding: 0 10px;
}

.pricing__main-header {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.pricing__paragraph {
    text-align: center;
    padding: 18px 10px;
    line-height: 30px;
}

.pricing__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.pricing__element {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.pricing__header {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.pricing__element__header-1 {
    background-color: #E9F4FE;
    color: #0181F5;

}

.pricing__element__header-2 {
    background-color: #FEF4EE;
    color: #FDAE5C;
}

.pricing__element__header-3 {
    background-color: #E8FCF1;
    color: #00D363;
}

.pricing__type {
    color: #1F1F1F;
    font-weight: 500;
    font-size: 1.1rem;
}

.price {
    font-weight: 500;
    font-size: 1.2rem;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit {
    margin-bottom: 40px;
    color: #727272;
}

.pricing__btn {
    height: 40px;
    width: 120px;
    color: #5DB2FF;
    background-color: white;
    border: 1px solid #5DB2FF;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

/* END OF PRICING */
/* PRODUCTIVITY */

.productivity__container {
    background-color: #5DB2FF;
    color: white;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productivity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productivity__header {
    font-size: 1.9rem;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.app__download__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* END OF PRODUCTIVITY */
/* FOOTER */

.footer__container {
    color: #C7C7C7;
}

.footer__top {
    background-color: #1F1F1F;
    padding: 40px 15px;
}

.footer__widget {
    margin: 25px auto;
}

.footer__paragraph {
    padding: 20px 0;
    line-height: 25px;
}

.social__links {
    display: flex;
    padding: 5px 0;
}

.fab.fa-facebook-f, .fab.fa-twitter, .fab.fa-instagram {
    width: 40px;
    height: 40px;
    color: #C7C7C7;
    background-color: #565656;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 1.1rem;
}

.fa-facebook-f {
    margin-left: 0;
}

.footer__widget__header {
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 20px;
    color: white;
}

.widget__list__link a {
    color: #C7C7C7;
    font-size: 0.8rem;
    line-height: 40px;
}

.footer__copyright {
    background-color: black;
}

.copyright {
    text-align: center;
    font-size: 0.8rem;
    padding: 30px 25px;
    line-height: 25px;
}

.footer__link {
    color: #5DB2FF;
}

/* END OF FOOTER */