/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
}

/* END OF GLOBAL */
/* NAV */

.main__container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/banner/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C2C2C;
    position: fixed;
    order: -1;
}

.header__button {
    display: none;
}

.bars {
    display: none;
}

.logo {
    flex-basis: 50%;
    padding-left: 15px;
}

.hamburger {
    flex-basis: 50%;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.fa-bars {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.nav {
    position: absolute;
    top: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    display: none;
}

.nav__list {
    width: 95%;
    background-color: white;
}

.list__item {
    padding-left: 10px;
}

.nav__link {
    color: black;
    height: 35px;
    display: flex;
    align-items: center;
}

.drop-down__list {
    display: block;
}

.drop-down__link {
    justify-content: space-between;
    padding-right: 15px;
}

.drop-down__link-1, .drop-down__link-2 {
    display: none;
}

.drop-down__links-1, .drop-down__links-2 {
    display: none;
}

.minus-1, .minus-2 {
    display: none;
}

.lvl-2 {
    padding-left: 25px;
}

/* --- DROP-DOWN MENU --- */

.bars:checked+.nav {
    display: flex;
}

.drop-down__link-1:checked~.drop-down__links-1 {
    display: block;
}

.drop-down__link-2:checked~.drop-down__links-2 {
    display: block;
}

.drop-down__link-1:checked~.drop-down__link>.plus-1 {
    display: none;
}

.drop-down__link-1:checked~.drop-down__link>.minus-1 {
    display: block;
}

.drop-down__link-2:checked~.drop-down__link>.plus-2 {
    display: none;
}

.drop-down__link-2:checked~.drop-down__link>.minus-2 {
    display: block;
}

/* --- END OF DROP-DOWN MENU --- */
/* END OF NAV */

/* HERO */

.hero {
    padding-top: 55px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.hero__article {
    padding-top: 30px;
    padding-left: 15px;
    color: white;
    padding-bottom: 40px;
}

.hero__header {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    padding-bottom: 15px;
}

.hero__paragraph {
    font-size: 0.8rem;
}

.hero__button {
    margin-top: 10px;
    margin-left: 15px;
    height: 40px;
    width: 155px;
    color: white;
    background-color: #37EBED;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.hero__button:hover {
    background-color: #4BA8FD;
}

.hero__picture {
    width: 100%;
    margin: auto;
    padding-top: 50px;
}

.phone__picture {
    max-width: 100%;
}

/* END OF HERO */