/* GLOBAL */

.container {
    display: flex;
    justify-content: center;
}

.section {
    max-width: 720px;
    display: flex;
    align-items: center;
}

.main__container {
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    max-height: 620px;
}

/* END OF GLOBAL */
/* NAV */

.header__area {
    max-width: 720px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav {
    max-width: 725px;
}

/* END OF NAV */
/* HERO */

.hero {
    padding-top: 55px;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
}

.hero__text {
    flex-basis: 50%;
}

.hero__picture {
    padding-top: 120px;
    flex-basis: 50%;
}

.hero__article {
    padding-top: 120px;
}

.phone__picture {
    max-width: 330px;
}

.hero__header {
    padding-right: 0;
}

.hero__paragraph {
    font-size: 1.25rem;
}

/* END OF HERO */
/* FIRST SECTION */

.first-section {
    margin-top: 0;
    padding-top: 150px;
    display: grid;
    grid-template-areas: 
    "area-1 area-1 area-1"
    "area-2 area-3 area-4";
}

.first-section__header {
    font-size: 2.25rem;
    line-height: 40px;
    padding: 10px 150px;
    padding-bottom: 80px;
    grid-area: area-1;
}

.first-section__services {
    height: 100%;
}

.services-1 {
    grid-area: area-2;
}

.services-2 {
    grid-area: area-3;
}

.services-3 {
    grid-area: area-4;
}

/* END OF FIRST SECTION */
/* FEATURES */

.features__container {
    padding: 80px 0;
}

.features {
    flex-direction: row;
}

.features__text {
    flex-basis: 50%;
    padding-left: 10px;
}

.features__picture {
    flex-basis: 50%;
    padding-right: 10px;
}

.features__header {
    font-size: 2.2rem;
    line-height: 45px;
}

/* END OF FEATURES */
/* TESTIMONIALS */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 100%;
}

.testimonials__header {
    font-size: 2.25rem;
    line-height: 40px;
    padding: 10px 150px;
}

.testimonial {
    padding: 70px 20px;
    padding-bottom: 30px;
}

.caption {
    font-size: 0.9rem;
}

/* END OF TESTIMONIALS */
/* PRICING */

.pricing__container {
    margin: 150px auto;
}

.pricing__text {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.pricing__main-header {
    font-size: 2.25rem;
}

.pricing__paragraph {
    padding: 25px 35px;
}

.pricing__elements {
    flex-direction: row;
}

/* END OF PRICING */